@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --color-text-primary: #403F3D;
  --color-text-inverse: #E1D4C9;
  --color-text-accent: #B0907A;
  --color-bg-page: #E1D4C9;
  --color-bg-container: #665F55;
  --color-bg-overlay: rgba(64, 63, 61, 0.8);
  --color-border-primary: #C1B6AD;
  --color-border-inverse: #665F55;
}

[data-theme=dark] {
  --color-text-primary: #E1D4C9;
  --color-text-inverse: #E1D4C9;
  --color-text-accent: #B0907A;
  --color-bg-page: #292826;
  --color-bg-container: #403F3D;
  --color-bg-overlay: rgba(41, 40, 38, 0.8);
  --color-border-primary: #665F55;
  --color-border-inverse: #C1B6AD;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text-primary);
  background: var(--color-bg-page);
  transition: 0.5s;
}

a,
button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: inherit;
  text-decoration: none;
}

.main-title {
  display: none;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    margin: 0 40px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin: 0 20px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header-container {
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
}

.logo {
  display: block;
  width: 100px;
  height: 60px;
}

.nav {
  width: 100%;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav-list {
  justify-content: center;
  padding: 0;
}
.nav-item {
  margin: 0 2%;
  list-style-type: none;
}
.nav-link {
  display: inline-block;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-text-primary);
  transition: all 0.5s ease;
}
.nav-link:hover::after {
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .theme {
    margin: 0 0 0 auto;
  }
}
.theme-checkbox {
  display: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.theme-label {
  border: 2px solid var(--color-border-primary);
  border-radius: 22px;
  cursor: pointer;
}
.theme-label:hover .theme-option__inactive {
  background: var(--color-border-inverse);
}
.theme-label:hover .theme-img {
  color: var(--color-text-inverse);
}
.theme-option {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 4px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.theme-option__active {
  background: var(--color-text-accent);
}
.theme-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.menu-link {
  position: relative;
  margin: 0 0 0 24px;
}
@media (max-width: 768px) {
  .menu-link__pc {
    display: none;
  }
}
.menu-link__mobile {
  display: none;
}
@media (max-width: 768px) {
  .menu-link__mobile {
    display: inline-block;
  }
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-text-primary);
  transition: all 0.5s ease;
}
.menu-link:hover::after {
  left: 0;
  width: 100%;
}
.menu-img {
  margin: 0 0 0 8px;
  stroke: var(--color-text-primary);
}

.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .burger-menu {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0 0 0 24px;
    background: inherit;
    border: 2px solid var(--color-border-inverse);
    border-radius: 50%;
  }
  .burger-menu::before, .burger-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 16px;
    height: 2px;
    background: var(--color-border-inverse);
    transform: translate(-50%, 0);
  }
  .burger-menu::before {
    top: 15px;
  }
  .burger-menu::after {
    top: 24px;
  }
}