.footer {
  margin: 0 0 40px 0;

  &-container {
    display: flex;
    color: var(--color-text-inverse);
    background: var(--color-bg-container);
    border-radius: 40px;
    padding: 100px;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 100px 60px;
    }

    @media (max-width: 490px) {
      padding: 60px 16px;
    }
  }

  &-content {
    width: 50%;

    @media (max-width: 900px) {
      width: auto;
    }
  }

  &-title {
    max-width: 530px;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;

    @media (max-width: 900px) {
      width: auto;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }
}

.social-media {

  @media (max-width: 900px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
    border: 2px solid var(--color-text-inverse);
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      background: var(--color-bg-page);
      border-color: var(--color-bg-page);

      &>.social-media-img {
        stroke: var(--color-text-primary);
      }
    }
  }

  &-img {
    stroke: var(--color-text-inverse);
    transition: all 0.3s ease;
  }
}

.contacts {
  padding: 55px 0 0 100px;

  @media (max-width: 900px) {
    padding: 40px 0 0 0;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &-link {
    display: block;
    position: relative;
    margin: 0 0 16px 0;
    padding: 0 0 0 30px;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -3px;
      width: 0;
      height: 2px;
      background: var(--color-text-inverse);
      transition: all 0.3s ease;
    }

    &:hover::after {
      left: 0;
      width: 100%;
    }

    &-map {
      background: url(../img/svg/pin-alt.svg) left center no-repeat;
    }

    &-tel {
      background: url(../img/svg/phone.svg) left center no-repeat;
    }
  }

  &-time {
    margin: 0;
    padding: 0 0 0 30px;
    background: url(../img/svg/clock.svg) left center no-repeat;
  }
}
