.header {
  &-container {
    align-items: center;
    padding: 20px 0;

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }
}

.logo {
  display: block;
  width: 100px;
  height: 60px;

}

.nav {
  width: 100%;

  @media (max-width: 768px) {

    & {
      position: fixed;
      top: 100px;
      left: -110%;
      height: calc(100% - 100px);
      background: var(--color-bg-page);
      z-index: 10;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &._open {
      left: 0;
      opacity: 1;
      overflow: auto;
    }
  }

  &-list {
    justify-content: center;
    padding: 0;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 60px;
      overflow: auto;
    }
  }

  &-item {
    margin: 0 2%;
    list-style-type: none;

    &:last-child {
      margin: 40px 0 0 0;
    }
  }

  &-link {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background: var(--color-text-primary);
      transition: all 0.5s ease;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      display: block;
      padding: 15px;
      text-align: center;
    }
  }
}

.theme {

  @media (max-width: 768px) {
    margin: 0 0 0 auto;
  }

  &-checkbox {
    display: none;
    appearance: none;
    -webkit-appearance: none;
  }

  &-label {
    border: 2px solid var(--color-border-primary);
    border-radius: 22px;
    cursor: pointer;

    &:hover {
      .theme-option__inactive {
        background: var(--color-border-inverse)
      }

      .theme-img {
        color: var(--color-text-inverse);
      }
    }
  }

  &-option {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 4px;
    border-radius: 50%;
    transition: all 0.5s ease;
    
    &__active {
      background: var(--color-text-accent);
    }
  }

  &-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }
}

.menu {
  &-link {
    position: relative;
    margin: 0 0 0 24px;

    &__pc {
      
      @media (max-width: 768px) {
        display: none;
      }
    }

    &__mobile {
      display: none;

      @media (max-width: 768px) {
        display: block;
        padding: 15px;
        text-align: center;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background: var(--color-text-primary);
      transition: all 0.5s ease;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }

  &-img {
    margin: 0 0 0 8px;
    stroke: var(--color-text-primary);
  }
}

.burger-menu {
  display: none;

  @media (max-width: 768px) {
    display: inline-block;
    position: relative;
    width: 43px;
    height: 43px;
    margin: 0 0 0 24px;
    background: inherit;
    border: 2px solid var(--color-border-inverse);
    border-radius: 50%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 16px;
      height: 2px;
      background: var(--color-border-inverse);
      transform: translate( -50%, 0);
      transition: all 0.3s ease;
    }

    &::before {
      top: 15px;
    }

    &::after {
      top: 24px;
    }

    &._open {
      &::before,
      &::after {
        top: 50%;
        left: 30%;
        transform: translate( 0%, 0%);
      }
      &::before {
        rotate: 45deg;
      }
      &::after {
        rotate: -45deg;
      }
    }
  }
}
