.main {}

.text-dedicated {
  font-style: italic;
  color: var(--color-text-accent);
}

.section {

  &-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;

    @media (max-width: 680px) {
      font-size: 42px;
      font-weight: 600;
      line-height: 115%;
    }
  }

  &-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}

.hero {
  color: var(--color-text-inverse);

  &-container {
    padding: 100px;
    background: url(../img/img-hero.jpg) center center no-repeat;
    border-radius: 30px;

    @media (max-width: 768px) {
      padding: 100px 60px;
    }

    @media (max-width: 680px) {
      padding: 60px 16px;
    }
  }

  &-content {
    max-width: 530px;
  }

  &-text {
    margin: 0 0 40px 0;
  }

  &-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-text-primary);
    background: var(--color-bg-page);
    border-radius: 33px;
    transition: all 0.3s ease;
    
    &>img {
      width: 0;
      margin: 0 0 0 8px;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      &>img {
      width: 20px;
      margin: 0 0 0 8px;
      opacity: 1;
      }
    }
  }
}

.favorite {

  &-title {
    text-align: center;
  }
}

.slider {

  &-items {
    justify-content: space-between;
    align-items: center;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: var(--color-bg-page);
    border: 2px solid var(--color-bg-container);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    
    &:hover {
      background: var(--color-bg-container);

      .slider-arrow {
        stroke: var(--color-bg-page);
      }

    }
  }

  &-arrow {
    stroke: var(--color-bg-container);
    transition: all 0.3s ease;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &-text {
    text-align: center;
  }

  &-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }
}

.slider-paginator {
  justify-content: center;

  &>div {
    position: relative;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: var(--color-border-primary);

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 4px;
      border-radius: 2px;
      background: var(--color-border-primary);
    }

    &::before {
      left: -50px;
      background: var(--color-border-inverse);
    }

    &::after {
      left: 50px;
    }

  }
}
